.pending-container {
    text-align: center;
    margin-top: 50px;
  }
  
  .pending-text {
    font-size: 24px;
    font-weight: bold;
  }
  
  .cancel-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .cancel-button:hover {
    background-color: darkred;
  }